<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--userMapper空间-->
<mapper namespace="com.member.api.mappers.second.NopayingRecordMapper">
<resultMap id="NopayMap" type="com.member.api.entity.NoPayRecord">
	<result property="reserve2" column="reserve2"/>
	<result property="intime" column="intime"/>
	<result property="outtime" column="outtime"/>
	<result property="parktime" column="parktime"/>
	<result property="payamount" column="payamount"/>
	<result property="paidamount" column="paidamount"/>
	<result property="paymenttype" column="paymenttype"/>
	<result property="parking_name" column="parking_name"/>
</resultMap>

    <select id="NoPayingRecord" resultMap="NopayMap">
      SELECT
	o.reserve2,
	o.intime,
    o.outtime,
    round( date_part( 'epoch', o.outtime - o.intime ) :: NUMERIC / 60 ) AS parktime,
	P.payamount / 100.0 AS payamount,
	P.paidamount / 100.0 AS paidamount,
	P.paymenttype,
    P.parking_name
FROM
	outparking AS o
	LEFT JOIN p_record_charge AS P ON P.intime = o.intime
WHERE
	o.carnumber IS NOT NULL
	AND o.carnumber IN ( SELECT carnumber FROM member_car_ref AS M INNER JOIN car_owner_car AS C ON M."car_id" = C.car_id WHERE M.member_id = #{Member_id} )
	AND P.intime IS NULL
	AND P.parking_name IS NOT NULL
 AND P.parking_name != '路内停车';
    </select>
</mapper>
