<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--userMapper空间-->
<mapper namespace="com.member.api.mappers.second.OutParkingMapper">
    <resultMap id="OutParkingMap" type="com.member.api.entity.OutParking">
        <id column="outparking_id" property="outparking_id"/>
        <result column="cardserial" property="cardserial"/>
        <result column="carnumber" property="carnumber"/>
        <result column="outtime" property="outtime"/>
        <result column="outtype" property="outtype"/>
        <result column="carnumberout" property="carnumberout"/>
        <result column="intime" property="intime"/>
        <result column="addtime" property="addtime"/>
        <result column="parking_id" property="parking_id"/>
    </resultMap>

    <select id="OutParkRecord" resultMap="OutParkingMap">
       SELECT
	o.cardserial,
	o.outparking_id,
	o.carnumber,
	o.outtime,
	o.outtype,
	o.carnumberout,
	o.intime,
	o.addtime,
	o.parking_id
FROM
	outparking AS o
	LEFT JOIN car_owner_car AS C ON o.carnumber = C.carnumber
WHERE
	o.carnumber IN ( SELECT carnumber FROM member_car_ref AS M INNER JOIN car_owner_car AS C ON M."car_id" = C.car_id WHERE M.member_id =#{Member_id} )
	LIMIT #{pageSize} OFFSET #{Size}
    </select>


</mapper>
