<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--userMapper空间-->
<mapper namespace="com.member.api.mappers.second.PayingRecordMapper">
    <resultMap id="PayRecordMap" type="com.member.api.entity.PayRecord">
        <id column="id" property="id"/>
        <result  column=" carnumber" property="carnumber"/>
        <result column="intime" property="intime" />
        <result column="outtime" property="outtime"/>
        <result column="parktime" property="parktime" />
        <result column="payamount" property="payamount" />
        <result column="paidamount" property="paidamount" />
        <result column="paymenttype" property="paymenttype"/>
        <result column="chargetime" property="chargetime"/>
        <result column="close_optername" property="close_optername"/>
        <result column="close_accountno" property="close_accountno"/>
        <result column="parking_name" property="parking_name"/>
    </resultMap>
    <select id="PayingRecord" resultMap="PayRecordMap">
        SELECT P
	.ID,
	o.car_owner_id,
	o.carnumber,
	o.intime,
	o.outtime,
	P.payamount / 100.0 AS payamount,
	P.paidamount / 100.0 AS paidamount,
	P.paymenttype,
	P.chargetime,
	P.close_optername,
	P.close_accountno,
	P.parking_name,
	round( date_part( 'epoch', o.outtime - o.intime ) :: NUMERIC / 60 ) AS parktime
FROM
	outparking AS o
	LEFT JOIN p_record_charge AS P ON P.intime = o.intime
WHERE
	o.carnumber IS NOT NULL
	AND P.parking_name != '路内停车'
	AND P.carnumber IN ( SELECT carnumber FROM member_car_ref AS M INNER JOIN car_owner_car AS C ON M."car_id" = C.car_id WHERE M.member_id = #{Member_id} )
	AND O.outtime IS NOT NULL
	AND P.ID IS NOT NULL
	LIMIT #{pageSize} OFFSET #{Size}
    </select>
</mapper>
