<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--userMapper空间-->
<mapper namespace="com.member.api.mappers.second.SecondMapper">
    <resultMap id="OutParkingMap" type="com.member.api.entity.OutParking">
        <id column="outparking_id" property="outparking_id"/>
        <result column="cardserial" property="cardserial"/>
        <result column="carnumber" property="carnumber"/>
        <result column="outtime" property="outtime"/>
        <result column="outtype" property="outtype"/>
        <result column="carnumberout" property="carnumberout"/>
        <result column="intime" property="intime"/>
        <result column="addtime" property="addtime"/>
        <result column="parking_id" property="parking_id"/>
    </resultMap>
    <resultMap id="PayRecordMap" type="com.member.api.entity.PayRecord">
        <id column="id" property="id"/>
        <result  column=" carnumber" property="carnumber"/>
        <result column="intime" property="intime" />
        <result column="outtime" property="outtime"/>
        <result column="parktime" property="parktime" />
        <result column="payamount" property="payamount" />
        <result column="paidamount" property="paidamount" />
        <result column="paymenttype" property="paymenttype"/>
        <result column="chargetime" property="chargetime"/>
        <result column="close_optername" property="close_optername"/>
        <result column="close_accountno" property="close_accountno"/>
        <result column="parking_name" property="parking_name"/>
    </resultMap>
<!--    <resultMap id="RecordMap" type="">-->
<!-- -->
<!--    </resultMap>-->
    <select id="Car_owner" resultType="com.member.api.entity.Car_owner">
        SELECT  * FROM car_owner limit #{pageSize} offset #{Size}
</select>







</mapper>
